@import "../../scss/variables", "../../scss/mixins";

.card-container {
  //   border: 5px solid red;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

img {
  width: 500px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.card-over {
  color: white;
  position: absolute;
  bottom: 0rem;
  left: 0;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.7s ease-in-out;
  text-align: start;
}
.cards:hover .card-over {
  transform: translateY(0%);
}
.cards:hover img {
  filter: grayscale(100%);
}
.cards {
  position: relative;
  background-color: $cardNavBgColor;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: -3px 3px 20px 5px black;
  overflow: hidden;
}
.title h1 {
  color: $backgroundColor;
  font-size: 2rem;
  padding-bottom: 10px;
  text-align: start;
}

img:hover {
  filter: grayscale(100%);
}

@include media-xsm {
  .container {
    flex-direction: column;
    text-align: center;
  }
}
@include media-md {
  .container {
    flex-direction: row;
  }
}
